.header {
  font-size: 14px;
  font-weight: 600;
  color: var(--slot-details-stats-tertiary);
}

.subheader {
  font-size: 12px;
  color: var(--slot-details-stats-tertiary);
}

.label {
  font-size: 10px;
  color: var(--slot-details-stats-secondary);
  text-wrap: nowrap;
}

.value {
  font-size: 10px;
  color: var(--slot-details-stats-primary);
  text-wrap: nowrap;
}

.table-header {
  font-size: 10px;
  color: var(--slot-details-stats-primary);
  text-wrap: nowrap;
}

.table-row-label {
  font-size: 10px;
  color: var(--slot-details-stats-primary);
  text-wrap: nowrap;

  &.total {
    color: var(--slot-details-stats-tertiary);
  }
}

.table-cell-value {
  font-size: 10px;
  color: var(--slot-details-stats-secondary);
  text-wrap: nowrap;

  &.total {
    color: var(--slot-details-stats-primary);
  }
}

.grid {
  padding: 5px 10px;
  border-radius: 8px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.12);
  background: linear-gradient(
    0deg,
    rgba(250, 250, 250, 0.05) 0%,
    rgba(250, 250, 250, 0) 100%
  );

  .label,
  .value {
    font-size: 14px;
  }

  .name {
    font-weight: 600;
    color: #ccc;
    &.lg {
      font-size: 18px;
    }
  }
}

.copy-button {
  flex-shrink: 1;
  min-width: 0;
  color: var(--slot-details-stats-primary);
}
