.card-header {
  color: var(--primary-text-color);
  font-size: 18px;
}

.grid {
  row-gap: 2px;
  grid-auto-rows: 15px;
}

.slot-lane-stats {
  display: contents;
  font-size: 12px;
  .slot-text {
    color: #b1b1b1;
  }
  .slot-dt {
    font-weight: 600;
    min-width: 20px;
  }
}

.highlight-positioner {
  pointer-events: none;
}

.slot-lane-cells {
  display: contents;
}

.slot-cell {
  border-radius: 2px;
}

.storage {
  color: #a09000;
  .slot-cell {
    background-color: #21231d;
    &.highlighted {
      background-color: #666025;
    }
  }
}

.root,
.finalized {
  color: #0abf9e;
  .slot-cell {
    background-color: #12282d;
    &.highlighted {
      background-color: #3b7a6c;
    }
  }
}

.vote {
  color: #4aa7c1;
  .slot-cell {
    background-color: #192530;
    &.highlighted {
      background-color: #446c7f;
    }
  }
}

.replay {
  color: #08a24d;
  .slot-cell {
    background-color: #122524;
    &.highlighted {
      background-color: #326940;
    }
  }
}

.repair {
  color: #ac4902;
  .slot-cell {
    background-color: #221c1d;
    &.highlighted {
      background-color: #68391b;
    }
  }
}

.turbine {
  color: #3f7bf4;
  .slot-cell {
    background-color: #172135;
    &.highlighted {
      background-color: #3b529b;
    }
  }
}

.confirmed,
.notarized {
  color: #af49f2;
  .slot-cell {
    background-color: #231c35;
    &.highlighted {
      background-color: #6c3999;
    }
  }
}

.next-leader-info {
  white-space: nowrap;
  .label {
    color: #929292;
  }
  .dt,
  .none,
  .countdown {
    color: var(--next-slot-value-color);
  }
  .slot {
    color: #72aff6;
    font-weight: 500;
  }
  .progress-bar {
    min-width: 10px;
    max-width: 80px;
  }
}
