.container {
  padding: 32px;
  border-radius: 8px;
  border: 4px solid rgb(42, 53, 72);
  background: rgb(34, 44, 61);
  flex-shrink: 0;
}

.with-marker-lines::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 3px solid yellow;
  transform: translateX(var(--marker-lines-pct)) translateX(-1.5px);
}
