.track-container {
  position: relative;
  width: 100%;
}

.track-canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.bucket-size-label {
  position: absolute;
  top: 0;
  left: 5px;
}
