.slot-group-label {
  --group-x: -100000px;
  --group-name-opacity: 0;

  opacity: 0.8;
  background-color: #080b13;
  border-radius: 2px;
  border: 1px solid #3c4652;
  border-top-width: 0;
  will-change: transform;
  transform: translate(var(--group-x));

  &.you {
    border: 1px solid #2a7edf;
  }

  .slot-group-top-container {
    width: 100%;
    background-color: #101318;

    &.skipped {
      background-color: var(--red-2);
    }

    .slot-group-name-container {
      opacity: var(--group-name-opacity);
      transition: opacity 0.6s;
      will-change: opacity;

      .name {
        font-size: 10px;
        line-height: normal;
        color: #949494;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .slot-bars-container {
    flex-shrink: 0;
    .slot-bar {
      --slot-x: 0;

      position: absolute;
      will-change: transform;
      transform: translate(var(--slot-x));

      height: 100%;
      border-radius: 3px;
      &:nth-child(1) {
        background-color: var(--blue-7);
      }
      &:nth-child(2) {
        background-color: var(--blue-6);
      }
      &:nth-child(3) {
        background-color: var(--blue-5);
      }
      &:nth-child(4) {
        background-color: var(--blue-4);
      }

      &.skipped {
        background-color: var(--red-7);
      }
    }
  }
}

.legend-color-box {
  width: 10px;
  height: 10px;
  border-radius: 1px;
}

.legend-label {
  font-size: 10px;
  color: var(--header-label-text-color);
}
