.slot-group-label {
  --group-x: 0;
  --group-y: -150%;
  --group-name-opacity: 0;

  background-color: #15181e;
  border-radius: 2px;
  border: 1px solid #3c4652;
  will-change: transform, width;
  transform: translate(var(--group-x), var(--group-y));

  &.you {
    border: 1px solid #2a7edf;
  }

  &.skipped {
    background-color: var(--red-2);
  }

  .slot-group-name-container {
    opacity: var(--group-name-opacity);
    transition: opacity 1s;
    will-change: opacity;

    .name {
      font-size: 14px;
      line-height: normal;
      color: #ccc;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .slot-bars-container {
    .slot-bar {
      --slot-x: 0;
      --slot-opacity: -150%;

      position: absolute;
      will-change: transform, width;
      transform: translate(var(--slot-x), var(--slot-y));

      height: 100%;
      border-radius: 3px;
      &:nth-child(1) {
        background-color: var(--blue-9);
      }
      &:nth-child(2) {
        background-color: var(--blue-7);
      }
      &:nth-child(3) {
        background-color: var(--blue-5);
      }
      &:nth-child(4) {
        background-color: var(--blue-3);
      }

      &.skipped {
        background-color: var(--red-7);
      }
    }
  }
}
