.cards {
  grid-template-columns: minmax(300px, 1fr);
}

.txns-card {
  grid-column: 1 / -1;
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .txns-card {
    grid-column: 1 / -1;
  }

  .frankendancer {
    .txns-card {
      grid-column: 2;
    }
  }
}

@media (min-width: 1512px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .txns-card {
    grid-column: span 2;
  }

  .frankendancer {
    .txns-card {
      grid-column: span 3;
    }
  }
}

@media (min-width: 1850px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;

    &.frankendancer {
      grid-template-columns: 1fr 1fr;
    }
  }

  .txns-card {
    grid-column: 1 / -1;
  }
}
