.container {
  padding: 4px 12px;
}

.card-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  /* display: grid; */
  /* grid: repeat(auto-fill, 186px) / 1fr 1fr 1fr 1fr; */
  /* grid: auto-flow / repeat(auto-fill, 186px); */
  /* repeat(4, minmax(200px,1fr)); */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 2 */
  /* grid-template-columns: auto 1fr auto;  */
  gap: 16px;

  /* div {
    height: max-content;
    flex: 1
  } */
}
