.group-label {
  margin-right: 8px;

  &.min-text-width {
    min-width: 50px;
  }
}

.group {
  display: inline-flex;
  background-color: var(--mauve-6);
  border-radius: 4px;
  box-shadow: 0 2px 10px var(--black-a7);

  &.tooltip-open {
    box-shadow: 0 0 0 2px var(--slot-details-chart-controls-triggered);

    .item:focus-visible {
      box-shadow: unset;
    }
  }
}

.item {
  all: unset;
  background-color: var(--toggle-item-background-color);
  color: var(--toggle-item-text-color);
  height: 22px;
  padding: 0 8px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  user-select: none;
  font-weight: 400;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:hover {
    background: rgba(62, 98, 189, 0.32);
  }

  &[data-state="on"] {
    background-color: #4a4a4a;
    color: #f0f0f0;
    font-weight: 510;
  }

  &:focus-visible {
    position: relative;
    box-shadow: 0 0 0 2px var(--focus-8);
  }

  .item-color {
    width: 4px;
    height: 16px;
    margin-right: 4px;
  }
}
