.cluster-container {
  padding: 2px 5px 2px 2px;
  align-items: center;

  border-radius: 5px;
  background: rgba(250, 250, 250, 0.1);

  .cluster {
    padding: 0 3px;
    border-radius: 3px;

    color: #000;
    font-size: 10px;
    font-weight: 500;
  }

  .cluster-name {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: -3px;
  }
}

.indicator {
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
