.cluster {
  display: flex;
  padding: 4px 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 1px solid rgba(250, 250, 250, 0.12);
  background: rgba(250, 250, 250, 0.05);

  .cluster-name {
    border-radius: 5px;
    padding: 2px 5px;
    color: #000;
    font-weight: 700;
    line-height: normal;
  }

  .version {
    color: #afb2c2;
  }
}
