.nav-background {
  background-color: var(--slot-nav-background-color);
}

.toggles-container {
  &.row {
    flex-direction: row;
    align-items: center;
    gap: var(--space-1);

    .startup-toggle-button {
      height: 26px;
      padding: 0 2px;
      margin: 0;
    }
  }
  &.column {
    flex-direction: column;
    align-items: stretch;
    gap: 0;

    .startup-toggle-button {
      padding: 2px;
      margin: 0;
    }
  }

  .attribution-container {
    cursor: pointer;
    height: 26px;
    padding: 3px 5px;
    border-radius: 5px;
    background: var(--attribution-background-color);
    svg {
      color: white;
    }
  }
}
