.nav-background {
  background-color: var(--slot-nav-background-color);
}

.attribute-container {
  border-radius: 5px;
  background: var(--popover-background-color);
  border: 1px solid var(--container-border-color);
}
