.container {
  border-radius: 5px;
  background: var(--popover-background-color);
  max-width: 100vw;
  border: 1px solid var(--container-border-color);
  min-width: 0;

  &.dropdown-menu {
    padding: 4px;
  }

  &.pointer {
    cursor: pointer;
    &:hover {
      filter: brightness(1.2);
    }
  }

  .label {
    color: var(--header-label-text-color);
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .value {
    color: var(--dropdown-button-text-color);
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .value-suffix {
      color: var(--header-label-text-color);
    }
  }
}

.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-width: 0px;
  background-color: var(--color-background);

  .value {
    font-weight: 600;
  }
}
