.container {
  padding: 4px 8px;
  border-radius: 8px;
  background: #1c2129;
  border: 1px solid rgba(250, 250, 250, 0.12);

  &.pointer {
    cursor: pointer;
    &:hover {
      filter: brightness(1.2);
    }
  }

  .label {
    color: #646464;
    font-size: 8px;
  }

  .value {
    color: #f7f8f8;
    font-size: 10px;
    font-style: normal;
  }
}

.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
