.container {
  min-width: 28px;

  &.pointer {
    cursor: pointer;
    &:hover {
      filter: brightness(1.2);
    }
  }

  .label {
    color: var(--header-label-text-color);
    font-size: 10px;
  }

  .value {
    color: var(--dropdown-button-text-color);
    font-size: 12px;

    .value-suffix {
      color: var(--header-label-text-color);
    }
  }

  &.dropdown-menu {
    .label {
      color: var(--popover-secondary-color);
    }

    .value {
      color: var(--popover-primary-color);

      .value-suffix {
        color: var(--popover-secondary-color);
      }
    }
  }
}

.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background-color: var(--color-background);

  .value {
    font-weight: 600;
  }
}
