.secondary-text {
  color: var(--boot-progress-secondary-text-color);
}

.phase-header-container {
  color: var(--boot-progress-primary-text-color);
  font-size: 28px;
  font-weight: 400;
  line-height: normal;

  .phase-name {
    font-weight: 600;
  }

  .no-wrap {
    white-space: nowrap;
  }

  .complete-pct-container {
    white-space: pre;
    display: inline-flex;
    align-items: center;
  }
}
