.secondary-text {
  color: var(--boot-progress-secondary-text-color);
}

.step-container {
  color: var(--boot-progress-primary-text-color);
  font-size: 28px;
  font-weight: 400;
  line-height: normal;

  .step-name {
    font-weight: 600;
  }

  .no-wrap {
    white-space: nowrap;
  }
}
