.progress-bar {
  align-items: center;
  width: 100%;

  > *:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  > *:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .current-step {
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    overflow: hidden;

    .progressing-bar {
      width: 100%;
      height: 100%;
      transform-origin: left;
      transition: transform 0.2s linear;
    }
  }

  div {
    height: 25px;
  }
}
