.slot-performance-container {
  container: slot-performance / inline-size;
}

.sankey-container {
  position: relative;
  aspect-ratio: 4.5;
  min-height: 250px;
}

@container slot-performance (width < 600px) {
  .sankey-container {
    aspect-ratio: 1 / 3;
    overflow-x: clip;

    svg {
      transform: rotate(90deg) translateY(-100%) translateX(15px);
      transform-origin: top left;
    }
  }
}
