.slot-performance-container {
  container: slot-performance / inline-size;
}

.sankey-container {
  position: relative;
  aspect-ratio: 4;
  min-height: 450px;

  .slot-sankey-container {
    height: 100%;
  }
}

@container slot-performance (width < 600px) {
  .sankey-container {
    aspect-ratio: 1 / 3;
    overflow-x: clip;

    .slot-sankey-container svg {
      transform: rotate(90deg) translateY(-100%) translateX(15px);
      transform-origin: top left;
    }
  }
}
