.container {
  height: 13px;
  border-radius: 4px;

  .label {
    font-size: 10px;
    color: var(--slot-details-stats-primary);
    pointer-events: none;
  }
}

.distribution-tooltip :global(.rt-TooltipContent) {
  white-space: pre-wrap;
}

.clickable {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    filter: brightness(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    outline: 0.5px solid #e5e7eb;
    z-index: 1;
  }
}
