.header-text {
  color: var(--primary-text-color);
  font-size: 18px;
}

.total-text {
  color: var(--gray-7);
  font-size: 18px;
}

.throughput-text {
  color: var(--gray-10);
  font-size: 18px;
}

.leaf {
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--leaf-color);
  &:hover {
    background-color: color-mix(in hsl, var(--leaf-color), #ffffff1a);
  }

  .leaf-content {
    font-size: 10px;

    .name {
      color: #ccc;
      align-self: stretch;
      &.large {
        font-size: 12px;
      }
    }
    .stats {
      color: #8a8a8a;
    }
  }
}

.tooltip {
  :global(.rt-TooltipArrow) {
    display: none !important;
  }
}
