.container {
  margin-bottom: 16px;
  margin-left: 24px;
  container: search / inline-size;

  input:placeholder-shown {
    text-overflow: ellipsis;
  }
}

@media (max-width: 700px) {
  .container {
    margin-bottom: 8px;
    margin-left: 0px;
  }
}

.search-box {
  justify-self: "center";
  min-width: 400px;
}

@container search (width < 600px) {
  .search-box {
    min-width: 100%;
  }
}

.label {
  color: "#766A6A";
}

.search-button {
  display: flex;
  height: 100%;
  padding: 4px 10px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;

  &:focus {
    box-shadow: 0 0 0 2px black;
  }

  .label {
    color: #717171;
  }

  &:hover,
  &[data-state="on"] {
    .label {
      color: #a1a1a1;
    }

    &.disabled {
      .label {
        color: #717171;
      }
    }
  }
}

.my-slots {
  border-radius: 8px;
  border: 1px solid #1c4f8f;
  border-top-width: 3px;
  background: #0d1c36;
  color: #4497f7;

  &:hover {
    border-color: #2a7edf;
    background: #0d3059;
    color: #2a7edf;
  }

  &[data-state="on"] {
    border-color: #2a7edf;
    background: #073c7b;
    color: #2a7edf;
  }
}

.late-vote-slots {
  border: 1px solid #2f1e7c;
  background: #130f33;
  color: #896fec;

  &:hover {
    border-color: #341f92;
    background: #1b1450;
    color: #896fec;
  }

  &[data-state="on"] {
    border-color: #5530e4;
    background: #38218f;
    color: #896fec;
  }
}

.skipped-slots {
  border: 1px solid #461e1f;
  background: #1f0a0b;
  color: var(--failure-color);

  &:hover {
    border-color: #752626;
    background: #321112;
  }

  &[data-state="on"] {
    border-color: #823737;
    background: #501717;
  }
}

.disabled {
  border-color: var(--search-disabled-border-color);
  background: var(--search-disabled-background-color);
  color: var(--search-disabled-text-color);

  &:hover {
    border-color: var(--search-disabled-border-color);
    background: var(--search-disabled-background-color);
    color: var(--search-disabled-text-color);
  }
}

.skip-rate-label {
  color: var(--skip-rate-label-color);
  line-height: normal;
}

.skip-rate-value {
  color: var(--failure-color);
  line-height: normal;
}
