.container {
  margin-bottom: 16px;
  margin-left: 24px;
  container: search / inline-size;

  input:placeholder-shown {
    text-overflow: ellipsis;
  }
}

@media (max-width: 700px) {
  .container {
    margin-bottom: 8px;
    margin-left: 0px;
  }
}

.search-box {
  justify-self: "center";
  min-width: 400px;
}

@container search (width < 600px) {
  .search-box {
    min-width: 100%;
  }
}

.label {
  color: var(--search-label-color);
}

.search-button {
  display: flex;
  padding: 4px 10px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
}

.search-button:focus {
  box-shadow: 0 0 0 2px black;
}

.my-slots {
  border: 1px solid rgba(103, 192, 255, 0.12);
  background: rgba(62, 98, 189, 0.15);
  color: var(--my-slots-color);
  &:hover {
    background: rgba(62, 98, 189, 0.32);
  }
}

.my-slots[data-state="on"] {
  background: rgba(62, 98, 189, 0.72);
  color: var(--my-slots-on-color);

  .label {
    color: var(--search-slots-on-label-color);
  }
}

.late-vote-slots {
  border: 1px solid rgba(196, 134, 255, 0.12);
  background: rgba(71, 34, 106, 0.15);
  color: var(--votes-color);
  &:hover {
    background: rgba(71, 34, 106, 0.32);
  }
}

.late-vote-slots[data-state="on"] {
  background: rgba(71, 34, 106, 0.72);
  color: var(--votes-color);

  .label {
    color: var(--search-slots-on-label-color);
  }
}

.skipped-slots {
  background: rgba(189, 62, 62, 0.15);
  color: var(--failure-color);
  border: 1px solid rgba(255, 103, 103, 0.12);
  &:hover {
    background: rgba(189, 62, 62, 0.32);
  }
}

.skipped-slots[data-state="on"] {
  background: rgba(189, 62, 62, 0.72);
  color: var(--skipped-slots-on-color);

  .label {
    color: var(--search-slots-on-label-color);
  }
}

.disabled {
  border: 1px rgba(178, 178, 178, 0.12);
  background: var(--search-disabled-background-color);
  color: var(--search-disabled-text-color);

  &:hover {
    background: var(--search-disabled-background-color);
  }
}

.skip-rate-label {
  color: var(--skip-rate-label-color);
  line-height: normal;
}

.skip-rate-value {
  color: var(--failure-color);
  line-height: normal;
}
