.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 14px;
  gap: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(234, 103, 103, 0.05);
  color: var(--boot-progress-primary-text-color);
}

.secondary-color {
  color: #858585;
}

.bold {
  font-weight: 700;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.labels-row {
  flex-wrap: nowrap;
  font-size: 14px;
  width: calc(
    var(--turbine-head-x, 0px) + var(--turbine-head-label-width, 0px) / 2
  );
  min-width: max(
    var(--turbine-start-label-width, 0px),
    var(--turbine-head-label-width, 0px)
  );
  max-width: 100%;

  .labels-left {
    width: calc(
      var(--turbine-start-x, 0px) + var(--turbine-start-label-width, 0px) / 2
    );
    min-width: calc(var(--turbine-start-label-width, 0px) + 4px);
  }

  .turbine-label {
    white-space: nowrap;
    flex-shrink: 0;
    border-radius: 3px;
    padding: 2px;
    text-align: center;
    color: black;

    &.start {
      background-color: var(--first-turbine-slot-color);
    }

    &.head {
      background-color: var(--latest-turbine-slot-color);
    }
  }
}

.footer-row {
  gap: 4px;
  font-size: 14px;
  color: #ccc;

  & > * {
    flex-wrap: nowrap;
    background-color: #2c2c2c;
    border-radius: 3px;
    padding: 4px;
    text-align: center;

    &.left-footer {
      width: var(--turbine-start-x, 0px);
      gap: 4px;
      flex-shrink: 0;
    }
  }

  .footer-title {
    flex-grow: 1;
    font-weight: 700;
  }

  .footer-value {
    color: #bcbcbc;
    flex-shrink: 10000;
    direction: rtl;
  }
}

.bars-stats-container {
  font-size: 14px;
  line-height: normal;

  .bars-stats-row {
    & > * {
      min-width: 0;
    }

    .replayed {
      color: var(--replayed-slots-text-color);
      .bold {
        color: var(--replayed-slots-bold-text-color);
      }
    }

    .speed {
      color: var(--gray-10);
      .bold {
        color: var(--gray-8);
      }
    }

    .to-replay {
      color: var(--turbine-slots-text-color);
      .bold {
        color: var(--turbine-slots-bold-text-color);
      }
    }
  }
}
