.bars {
  --container-width: 100%;

  position: relative;
  width: var(--container-width);
  height: var(--bar-height, 50px);

  --step: calc(var(--bar-width) + var(--bar-gap));
  /*
    n bars, n - 1 gaps
    n = floor((container_width + gap) / step)
    used_width = n * step - gap 
    = floor((container_width + gap) / step) * step - gap
    = round(down, container_width + gap, step) - gap
    NOTE: floor(x / y) * y = round(down, x, y)
  */
  --used-width: max(
    0px,
    calc(
      round(down, var(--container-width) + var(--bar-gap), var(--step)) -
        var(--bar-gap)
    )
  );

  /*
    n = (used_width + gap) / step
    idx = round(pct * n) - 1
    threshold_start = idx * step = (round(pct * n) - 1) * step 
      = round(pct * n) * step - step
      = round(pct * (used_width + gap) / step) * step - step
      = round(nearest, pct * (used_width + gap), step) - step
  */

  --threshold-start: max(
    0px,
    calc(
      round(
          nearest,
          var(--pct) * (var(--used-width) + var(--bar-gap)),
          var(--step)
        ) -
        var(--step)
    )
  );
  --threshold-visible: sign(var(--pct));

  /* Bar pattern mask */
  mask-image: repeating-linear-gradient(
    to right,
    black 0 var(--bar-width),
    transparent var(--bar-width) var(--step)
  );
  mask-size: var(--used-width) 100%;
  mask-repeat: no-repeat;

  /* Unfilled bars with zone colors */
  background: linear-gradient(
    to right,
    var(--boot-progress-gossip-bars-color) 85%,
    var(--boot-progress-gossip-mid-bar-color) 85% 95%,
    var(--boot-progress-gossip-high-bar-color) 95%
  );
  background-size: var(--used-width) 100%;
  background-repeat: no-repeat;

  /* Filled bars */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--used-width);
    clip-path: inset(
      0 calc(100% - var(--threshold-start) + var(--bar-width)) 0 0
    );
    background: linear-gradient(
      to right,
      var(--boot-progress-gossip-filled-bar-color) 85%,
      var(--boot-progress-gossip-mid-filled-bar-color) 85% 95%,
      var(--boot-progress-gossip-high-filled-bar-color) 95%
    );
    background-size: var(--used-width) 100%;
    background-repeat: no-repeat;
  }

  /* Threshold bar */
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--used-width);
    clip-path: inset(
      0 calc(100% - var(--threshold-start) - var(--bar-width)) 0
        var(--threshold-start)
    );
    opacity: var(--threshold-visible, 0);
    background: linear-gradient(
      to right,
      var(--app-teal) 85%,
      var(--boot-progress-gossip-mid-threshold-bar-color) 85% 95%,
      var(--boot-progress-gossip-high-threshold-bar-color) 95%
    );
    background-size: var(--used-width) 100%;
    background-repeat: no-repeat;
  }
}
