.header-container {
  width: 100%;
}

.identity-key-container {
  flex-shrink: 1;
  flex-wrap: nowrap;
  overflow: hidden;

  .identity-key-text {
    color: var(--boot-progress-primary-text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1;
  }
}
