.progress-bar {
  align-items: center;
  width: 100%;

  .current-step {
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    overflow: hidden;

    .progressing-bar {
      width: 100%;
      height: 100%;
      transform-origin: left;
      transition: transform 0.2s linear;
    }
  }

  div {
    height: 25px;
  }
}
