.secondary-color {
  color: var(--boot-progress-snapshot-units-color);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  min-height: 150px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(234, 103, 103, 0.05);
  color: var(--boot-progress-primary-text-color);
}

.sparkline-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;

  .snapshot-tile-title {
    color: var(--boot-progress-primary-text-color);
    font-size: 18px;
    font-weight: 400;
  }

  .snapshot-tile-busy {
    font-size: 18px;
    font-weight: 400;
  }

  .sparkline-container {
    position: relative;
    flex-shrink: 0;

    background-image:
      linear-gradient(
        to right,
        var(--snapshot-area-chart-grid-line-color) 1px,
        transparent 1px
      ),
      linear-gradient(
        to bottom,
        var(--snapshot-area-chart-grid-line-color) 1px,
        transparent 1px
      );
  }
}

.throughput-card {
  flex-grow: 1;
  display: flex;
  min-width: 250px;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  .card-header {
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
  }

  .title {
    font-size: 28px;
    font-weight: 400;
    min-width: 0;
  }

  .accounts-rate {
    min-width: 165px;
  }

  .total {
    min-width: 170px;
  }

  .throughput {
    min-width: 111px;
    text-align: right;
  }

  .footer {
    color: var(--app-teal);
    font-size: 16px;
    svg {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      fill: var(--app-teal);
    }

    .footer-text {
      min-width: 0;
    }
  }
}

@media (max-width: 700px) {
  .throughput-card {
    .card-header {
      flex-direction: column;
      align-items: flex-start;
    }

    .throughput {
      text-align: left;
    }
  }
}

@media (max-width: 560px) {
  .sparkline-card {
    width: 100%;
  }
}
