.slot-name {
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--container-border-color);
  background: var(--container-background-color);
}
