.search {
  text-align: center;
}

.error-text {
  color: var(--failure-color);
}

.clickable {
  cursor: pointer;
}

.quick-search-row {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.quick-search {
  width: 164px;
  padding: 15px;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--container-border-color);
  background: var(--container-background-color);

  &:not(.clickable) {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
  }
}

.slot-name {
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slot-navigation-container {
  box-shadow: 0 4px 4px 0 var(--color-background);
}

.slot-navigation {
  flex: 4;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid var(--slot-details-my-slots-color);
  border-top-width: 3px;
  min-width: 0;

  .slot-status {
    text-decoration: none;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    gap: 10px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px;
    background: var(--slot-details-background-color);
    color: var(--slot-details-color);
    min-width: 0;

    .slot-status-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      direction: rtl;
      cursor: default;
    }

    &.selected-slot {
      font-weight: 600;
      background: var(--slot-details-selected-background-color);
      color: var(--slot-details-selected-color);
    }

    &.skipped-slot {
      background: var(--slot-details-skipped-background-color);
    }

    &.skipped-slot.selected-slot {
      background: var(--slot-details-skipped-selected-background-color);
    }
  }

  &.previous-navigation,
  &.next-navigation {
    flex: 1;

    &.disabled {
      border: 1px solid var(--slot-details-disabled-slot-border-color);
    }

    .slot-status {
      font-size: 14px;
      font-weight: 600;
    }
  }

  &.previous-navigation {
    mask-image: linear-gradient(to right, transparent 0%, black 100%);
  }

  &.next-navigation {
    mask-image: linear-gradient(to left, transparent 0%, black 100%);
  }
}

.header {
  display: flex;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--container-border-color);
  background: var(--container-background-color);
}
