.outer-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  container: outer-container / inline-size;
}

.inner-container {
  min-width: 410px;
}

@container outer-container (width < 430px) {
  .inner-container {
    min-width: 310px;
  }
}
