.container {
  padding: 8px 14px;
  border-radius: 12px;
  border: 1px solid var(--container-border-color);
  background: var(--container-background-color);
  display: grid;
  grid: auto-flow / auto 1fr;
  column-gap: 10px;
  row-gap: 6px;

  .text {
    color: #dedede;
    font-weight: 500;
    line-height: normal;
  }
}
