.progress {
  height: 9px;
  width: 120px;
  background: var(--startup-progress-background-color);

  div {
    background: var(--startup-progress-teal-color);
  }
}

.text {
  color: var(--startup-text-color);
  font-size: 8px;
  line-height: normal;
}
