.secondary-color {
  color: var(--boot-progress-snapshot-units-color);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  min-height: 150px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(234, 103, 103, 0.05);
  color: var(--boot-progress-primary-text-color);
}

.sparkline-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;

  .snapshot-tile-title {
    color: var(--boot-progress-primary-text-color);
    font-size: 18px;
    font-weight: 400;
  }

  .snapshot-tile-busy {
    font-size: 18px;
    font-weight: 400;
  }

  .sparkline-container {
    position: relative;
    flex-shrink: 0;

    background-image:
      linear-gradient(
        to right,
        var(--snapshot-area-chart-grid-line-color) 1px,
        transparent 1px
      ),
      linear-gradient(
        to bottom,
        var(--snapshot-area-chart-grid-line-color) 1px,
        transparent 1px
      );
  }
}

.bars-card {
  flex-grow: 1;
  display: flex;
  min-width: 250px;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  .card-header {
    align-items: center;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
  }

  .left-column {
    /* estimated widest content width */
    width: 194px;
    flex-shrink: 0;
  }

  .header-right-section {
    flex-grow: 1;
    justify-content: space-between;

    .center-column {
      flex-wrap: nowrap;
      white-space: pre;
      justify-content: center;
      flex-grow: 1;
    }

    .right-column {
      &,
      span {
        white-space: pre;
      }
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      /* estimated widest content width */
      width: 175px;
      flex-shrink: 0;
    }
  }

  .title {
    white-space: pre;
    font-size: 28px;
    font-weight: 400;
  }
}

@media (max-width: 1228px) {
  .bars-card {
    .card-header {
      align-items: flex-start;
    }
    .header-right-section {
      flex-direction: column;
      align-items: flex-end;

      .center-column,
      .right-column {
        justify-content: flex-end;
      }
    }
  }
}

@media (max-width: 1032px) {
  .bars-card {
    .card-header {
      flex-direction: column;
    }
    .header-right-section {
      flex-direction: column;
      align-items: flex-start;

      .center-column,
      .right-column {
        justify-content: flex-start;
      }
    }
  }
}

.path-container {
  color: var(--app-teal);
  font-size: 16px;
  svg {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    fill: var(--app-teal);
  }

  .path {
    min-width: 0;
  }
}

.progress-bar {
  --progress-background-color: var(--startup-progress-teal-color);
}

.progress-pct-text {
  width: 36px;
  flex-shrink: 0;
  text-align: right;
}
