:global(#txn-bars-tooltip) {
  /* above the slider thumbs in the chart controls */
  z-index: 3;
  position: absolute;
  background: var(--Colors-Gray-1, #111);
  border-radius: 8px;
  max-height: none !important;
  max-width: none !important;
  margin: 6px 8px;

  .state {
    font-weight: 700;
    color: var(--Colors-Neutral-Neutral-10, #777b84);
  }

  span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--color-override, #777b84);
  }

  .cu-bars {
    flex: 1;
    width: 0;
    padding: 4px 0;
  }

  .duration-container {
    flex: 1;
    background: rgba(54, 58, 63, 0.5);
    padding: 4px 0;
    margin: 4px 0;
    width: 0;
  }

  .unit {
    font-family: "Roboto Mono", monospace;
    margin-left: 2px;
  }

  button {
    padding-left: 4px;
    padding-right: 4px;
  }
}
