.toggle {
  all: unset;
  background-color: #4a4a4a;
  border-radius: 4px;
  color: #f0f0f0;
  font-weight: 400;
  height: 23px;
  padding: 0 8px;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.toggle:hover {
  background: rgba(62, 98, 189, 0.32);
}

.toggle[data-state="on"] {
  font-weight: 510;
  filter: brightness(1.3);
}

.toggle[data-disabled] {
  cursor: not-allowed;
  font-weight: 400;
  background-color: #292929;
  color: #9e9e9e;
}

.toggle:focus {
  box-shadow: 0 0 0 2px black;
}

.button {
  all: unset;
  background-color: #4a4a4a;
  color: #f0f0f0;
  font-weight: 510;
  height: 23px;
  padding: 0 8px;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:hover {
    background: rgba(62, 98, 189, 0.32);
  }

  &[data-disabled] {
    cursor: not-allowed;
    font-weight: 400;
    background-color: #292929;
    color: #9e9e9e;
  }
}
