button {
  all: unset;
}

.toggle {
  display: flex;
  padding: 4px 10px;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 4px;
  background: var(--accent-3);
  color: var(--accent-11);
  cursor: pointer;
}

.toggle:hover {
  background: rgba(62, 98, 189, 0.32);
}

.toggle[data-state="on"] {
  background: var(--accent-5);
}

.toggle:focus {
  box-shadow: 0 0 0 2px black;
}
