.tooltip {
  padding: 4px;
  border-radius: 5px;
  background: #121212;
  display: grid;
  grid: auto-flow / auto auto;
  column-gap: 8px;

  span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
  }

  .active-banks {
    color: rgba(117, 77, 18, 1);
  }

  .compute-units {
    color: #d19dff;
  }

  .elapsed-time {
    color: #6a6a6e;
  }

  .prio-fee {
    color: #4ccce6;
  }

  .tips {
    color: #1fd8a4;
  }

  .label {
    font-weight: 600;
    text-align: left;
  }
}

.chart {
  flex-grow: 1;
  height: 25vw;
  min-height: 250px;
  max-height: 600px;
  position: relative;
  margin-left: -8px;
  margin-right: -8px;

  .legend {
    position: absolute;
    top: 30px;
    left: 80px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #121212;
    padding: 5px;
    opacity: 0.9;

    .title {
      color: #1d77cb;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .grid {
      display: grid;
      grid: auto-flow / auto auto;
      margin-top: 4px;

      span {
        color: #6a6a6e;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: right;
      }
    }
  }
}

.chart-wrapper {
  user-select: none;
  height: 100%;
  overflow: hidden;

  &.mod-key-down :global(.recharts-wrapper > .recharts-surface) {
    cursor: grab;
  }

  &.panning :global(.recharts-wrapper > .recharts-surface) {
    cursor: grabbing;
  }

  &.nopan :global(.recharts-wrapper > .recharts-surface) {
    cursor: not-allowed;
  }

  &.zooming :global(.recharts-wrapper > .recharts-surface) {
    cursor: zoom-in;
  }
}

.bank-ref-area {
  mix-blend-mode: hard-light;
}
