.my-slots {
  color: #41b9d3;

  border-radius: 10px;
  background: rgba(250, 250, 250, 0.05);
  padding: 2px 5px;
}

.name {
  color: #b2bcc9;
  font-size: 24px;
  line-height: normal;
  width: 365px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.primary-text {
  font-style: normal;
  line-height: normal;
  color: #b2bcc9;
}

.secondary-text {
  line-height: normal;
  font-size: 12px;
  color: #67696a;
}

.divider {
  color: #b2bcc9;
}

.fd-text {
  color: #008970;
}

.agave-text {
  color: #a94dde;
}
