.my-slots {
  color: var(--summary-my-slots-color);
  border-radius: 10px;
  background: var(--container-background-color);
  padding: 2px 5px;
}

.name {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: normal;
  width: 365px;
  min-width: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.mobile {
    font-size: inherit;
  }
}

.text {
  line-height: normal;
  color: var(--primary-text-color);
}

.primary-text {
  font-style: normal;
  line-height: normal;
  color: var(--primary-text-color);
  min-width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.secondary-text {
  line-height: normal;
  font-size: 12px;
  color: var(--secondary-text-color);
  > span {
    line-height: normal;
  }
}

.divider {
  color: var(--primary-text-color);
}

.fd-text {
  color: var(--summary-fd-text-color);
}

.agave-text {
  color: var(--summary-agave-text-color);
}

.container-mobile {
  padding: 0 6px;
}
