.my-slots {
  color: var(--summary-my-slots-color);
  border-radius: 10px;
  background: var(--container-background-color);
  padding: 2px 5px;
}

.summary-container {
  width: 40%;
  min-width: 450px;
}

.name {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: normal;
  min-width: 30px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.mobile {
    font-size: inherit;
  }
}

.text {
  line-height: normal;
  color: var(--primary-text-color);
}

.primary-text {
  font-style: normal;
  line-height: normal;
  color: var(--primary-text-color);
  min-width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.secondary-text {
  line-height: normal;
  font-size: 12px;
  color: var(--secondary-text-color);
  > span {
    line-height: normal;
  }
}

.divider {
  color: var(--primary-text-color);
}

.firedancer {
  color: var(--summary-firedancer-text-color);
}

.frankendancer {
  color: var(--summary-frankendancer-text-color);
}

.agave {
  color: var(--summary-agave-text-color);
}

.jito {
  color: var(--summary-jito-text-color);
}

.paladin {
  color: var(--summary-paladin-text-color);
}

.bam {
  color: var(--summary-bam-text-color);
}

.sig {
  color: var(--summary-sig-text-color);
}

.container-mobile {
  padding: 0 6px;
}

.popover-trigger {
  cursor: pointer;
  text-decoration: underline dotted var(--secondary-text-color);
  transition: text-decoration-color 0.2s ease;

  &:hover {
    text-decoration-color: var(--primary-text-color);
  }

  /* reset browser button defaults when used as a popover trigger */
  &:where(button) {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
  }
}
