.grid {
  display: grid;
  grid:
    auto-flow / minMax(140px, auto) minMax(80px, auto) minMax(80px, auto) minMax(
      85px,
      auto
    )
    minMax(85px, auto)
    minMax(75px, auto) minMax(100px, auto) minMax(49px, auto);
  row-gap: 1px;

  .header-text {
    font-size: 12px;
    color: #cbcbcb;
    padding: 0 6px;
  }

  .row-text {
    color: #8a8a8a;
    padding: 0 6px;
    font-variant-numeric: tabular-nums;

    .slot-text {
      min-width: 79px;
    }

    &.active {
      background: rgba(250, 250, 250, 0.05);
      color: #b2bcc9;
    }

    .icon {
      height: 14px;
      width: 14px;
    }
  }
}
