.grid {
  display: grid;
  grid:
    auto-flow / minMax(130px, auto) minMax(80px, auto) minMax(70px, auto)
    minMax(70px, auto)
    minMax(80px, auto) minMax(149px, auto);
  row-gap: 1px;
  overflow-x: auto;
  min-width: 80px;
  touch-action: pan-x;
  & * {
    touch-action: pan-x;
  }
  scrollbar-width: thin;
  scrollbar-color: #cbcbcb20 #cbcbcb01;
  width: 100%;
}

.header-text {
  font-size: 12px;
  color: var(--slot-card-header-text-color);
  padding: 0 6px;

  /* matching padding of slot-text */
  &.slot-header-text {
    margin-left: 10px;
  }
}

.votes-header {
  color: var(--votes-color);
}
.non-votes-header {
  color: var(--success-color);
}
.fees-header {
  color: var(--fees-color);
}
.tips-header {
  color: var(--tips-color);
}
.compute-units-header {
  color: var(--compute-units-color);
  padding: 0;
}

.compute-units-pct {
  width: 50px;
  display: inline-block;
}

.slot-text {
  /* Slight padding to make it easier to text select the slot # */
  padding-left: 10px;
  padding-right: 2px;
  user-select: text;
  a:link {
    text-decoration: none;
    color: var(--slot-text-link-color);
  }
  a:visited {
    text-decoration: none;
    color: var(--slot-text-visited-link-color);
  }
  a:active {
    text-decoration: none;
    color: var(--slot-text-active-link-color);
  }
  a:hover {
    text-decoration: none;
    color: var(--slot-text-active-link-color);
  }
}

.row-text {
  white-space: nowrap;
  color: var(--slot-card-section-color);
  padding: 0 6px;
  font-variant-numeric: tabular-nums;

  &.active {
    background: var(--container-background-color);
    color: var(--primary-text-color);
  }

  &.narrow-screen {
    padding-left: 0;
  }
}
