.card {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #1c1e2b;
  background: #101123;
  color: var(--primary-text-color);

  .name-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .pubkey-text {
    flex-grow: 1;
    min-width: 390px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.narrow-screen {
      flex-grow: 0;
      min-width: inherit;
    }
  }

  &.two-away {
    border: 1px solid #2a2c38;
    background: #131524;
    opacity: 1.6;
  }

  &.one-away {
    border: 1px solid #295060;
    background: #142432;
  }

  .time-till {
    min-width: 250px;

    &.narrow-screen {
      min-width: inherit;
    }
  }
}
