.label {
  color: #8e909d;
  font-size: 12px;
  line-height: normal;
  text-wrap: nowrap;
}

.value {
  letter-spacing: -0.56px;
  line-height: normal;
}

.append-value {
  color: #8e909d;
  letter-spacing: -0.56px;
  line-height: normal;
}
