.label {
  color: var(--regular-text-color);
  font-size: 12px;
  line-height: normal;
  text-wrap: nowrap;
}

.value {
  line-height: normal;
  &.small {
    font-size: 18px;
    font-weight: 500;
  }
  &.medium {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
  &.large {
    font-size: 32px;
    line-height: 16px;
  }
}

.append-value {
  color: var(--regular-text-color);
  line-height: normal;
}
