.popover-content {
  box-sizing: border-box;

  max-width: var(--radix-popover-content-available-width);

  background: var(--popover-background-color);
  color: var(--popover-primary-color);

  padding: 10px;

  border: 1px solid var(--gray-4, #2a2a2a);
  border-radius: 5px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.popover-content:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.popover-content[data-state="open"][data-side="top"] {
  animation-name: slideDownAndFade;
}
.popover-content[data-state="open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}
.popover-content[data-state="open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.popover-content[data-state="open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

.popover-arrow {
  fill: var(--popover-background-color);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
