.xsmall-icon {
  width: 12px;
  height: 12px;
}

.small-icon {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

.large-icon {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.small-loading {
  display: block;
  width: 14px;
  height: 14px;
}

.large-loading {
  display: block;
  width: 15px;
  height: 15px;
}
