.container {
  font-size: 12px;
  padding: 0 5px;
}

.label {
  color: var(--popover-secondary-color);
}

.value {
  color: var(--popover-primary-color);
  text-align: end;
}

.popover-trigger {
  /* overwrite radix ghost button styles */
  --button-ghost-padding-x: 2px;
  --button-ghost-padding-y: 2px;
  font: inherit;
  color: inherit;
}

.popover-underline-overlay {
  position: absolute;
  inset: 0;

  &:hover .popover-text-underline {
    text-decoration-color: var(
      --popover-trigger-hover-color,
      var(--primary-text-color)
    );
  }
}

.popover-text-underline {
  color: transparent !important;
  text-overflow: clip;

  transition: text-decoration-color 0.2s ease;
  text-decoration: underline dotted
    var(--popover-trigger-color, var(--secondary-text-color));
}
