.card {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 172px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  color: var(--boot-progress-primary-text-color);
  padding: 20px;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  .value {
    color: var(--boot-progress-tertiary-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.bar-title {
  color: var(--boot-progress-primary-text-color);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bar-value {
  color: var(--boot-progress-primary-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
