.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  border-radius: 5px;
  background: rgba(197, 103, 234, 0.1);
}

.text {
  color: var(--next-color);
  font-size: 12px;
  line-height: normal;
}
