.nav-btn {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  padding: 0 2px;
  color: var(--nav-button-text-color);
  gap: 0px;
  height: unset;

  &:hover {
    filter: brightness(2);
  }

  &[data-disabled="true"] {
    filter: brightness(0.5);
  }

  .span {
    font-size: 12px;
    color: var(--nav-button-text-color);
  }
}
