.nav-btn {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  padding: 0 2px;
  color: #f7f7f7;
  gap: 0px;
  height: unset;

  &:hover {
    filter: brightness(2);
    /* cursor: pointer; */
  }

  &[data-disabled="true"] {
    filter: brightness(0.5);
  }

  .span {
    font-size: 12px;
    color: #f7f7f7;
  }
}
