.container {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  z-index: 1;

  .stats {
    display: grid;
    grid: auto auto / auto auto;
    padding: 5px 5px 5px 7px;
    /* align-items: center; */
    column-gap: 10px;
    row-gap: 4px;
    min-width: 203px;
    font-variant-numeric: tabular-nums;

    border-radius: 5px;
    background: #15252f;

    color: #c6c6c6;
    font-size: 12px;
    line-height: normal;

    .success-rate {
      color: #7ce198;
    }
  }

  .toggle-group {
    display: inline-flex;

    button {
      all: unset;
    }

    .toggle-group-item {
      background: #292929;
      color: #747575;
      padding: 2px 4px;
      align-items: center;
      justify-content: center;
      margin-left: 1px;
      cursor: pointer;
    }

    .toggle-group-item:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .toggle-group-item:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .toggle-group-item:hover {
      filter: brightness(1.2);
    }

    .toggle-group-item[data-state="on"] {
      background-color: #6184a4;
      color: #1f1f1f;
    }
  }
}
