.container {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  z-index: 1;

  .stats {
    display: grid;
    grid: auto auto / auto auto;
    padding: 5px 5px 5px 7px;
    /* align-items: center; */
    column-gap: 10px;
    row-gap: 4px;
    min-width: 170px;

    border-radius: 5px;
    background: #15252f;

    color: #c6c6c6;
    font-size: 12px;
    line-height: normal;

    .success-rate {
      color: #7ce198;
    }
  }

  .toggle-group {
    display: inline-flex;
    /* background: #292929; */
    /* border-radius: 4px; */
    /* box-shadow: 0 2px 10px var(--black-a7); */
    /* display: flex; */
    /* padding: 2px 4px 2px 6px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 8px; */

    button {
      all: unset;
    }

    .toggle-group-item {
      background: #292929; /* color: var(--mauve-11); */
      color: #747575;
      padding: 2px 4px;

      /* height: 35px;
      width: 35px;
      display: flex;
      font-size: 15px;
      line-height: 1; */
      align-items: center;
      justify-content: center;
      margin-left: 1px;
      cursor: pointer;

      /* color: #1f1f1f; */

      /* font-size: 12px; */
      /* font-style: normal; */
      /* font-weight: 600; */
      /* line-height: normal; */
    }

    .toggle-group-item:first-child {
      /* margin-left: 0; */
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .toggle-group-item:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .toggle-group-item:hover {
      filter: brightness(1.2);
    }

    .toggle-group-item[data-state="on"] {
      background-color: #6184a4;
      color: #1f1f1f;
    }

    /* .toggle-group-item:focus {
      position: relative;
      box-shadow: 0 0 0 2px black;
    } */
  }
}
