.root {
  flex: 1;
  display: flex;
  overflow: hidden;
  gap: 2px;
  padding: 0 1px;

  .item {
    flex: 1;
    background: #1b659933;
    border: 0px solid #900;
    border: solid 1px transparent;
    justify-content: "left";
    padding: var(--space-1, 4px);
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2px;

    .order {
      color: var(--next-slot-value-color);
      font-size: 12px;
      line-height: normal;
    }

    .slot-text {
      color: #a4a3a3;
      line-height: normal;
      flex: 1;
      text-align: center;
    }

    &[data-state="checked"] {
      border: 1px solid #1d6fba;
      background: #29699766;

      &::after {
        outline: unset;
      }
    }

    &.live {
      background: #351d3f;
      &[data-state="checked"] {
        border: 1px solid var(--next-color);
      }
    }

    &.skipped {
      background: #3c2525;
    }

    .live-icon {
      color: var(--next-color);
      font-size: 6px;
      line-height: normal;
      position: absolute;
      top: 2px;
      right: 5px;
    }

    .skipped-icon {
      height: 8px;
    }
  }

  .divider {
    height: 100%;
    width: 1px;
    background: #717c98;
    margin: 0px 4px;
  }
}
