.secondary-color {
  color: var(--gray-11);
}

.card {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
}

@property --progress-pct {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

.pie-chart-title {
  white-space: nowrap;
  font-size: 28px;
  color: var(--gray-8);
}

.pie-chart-container {
  /* height is min(available height, width, maxHeight) */
  width: 100%;
  min-height: 0;
  aspect-ratio: 1/1;
}

@keyframes shimmer {
  to {
    transform: rotate(360deg);
  }
}

.pie-chart {
  aspect-ratio: 1/1;
  container-type: size;
  background: conic-gradient(#4d4d4d 0, #8b2e11 80%);
  border-radius: 50%;

  .threshold-marker {
    transform: rotate(108deg);
    transform-origin: center top;

    .marker-line {
      border-left: 3px solid #4c4c4c;
    }

    .marker-icon {
      height: 5%;
      aspect-ratio: 1/1;
    }
  }

  /* rotating shimmer on the pie chart */
  .shimmer {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: conic-gradient(
      transparent 145deg,
      rgba(255, 255, 255, 0.05) 158deg,
      rgba(255, 255, 255, 0.18) 180deg,
      rgba(255, 255, 255, 0.05) 202deg,
      transparent 215deg
    );
    will-change: transform;
    animation: shimmer 2s linear infinite;
  }

  /* covers the pie chart and shimmer to only show up to progress pct */
  .overlay {
    --progress-pct: 0%;
    transition: --progress-pct 0.2s linear;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: conic-gradient(
      transparent 0 var(--progress-pct),
      var(--supermajority-pie-chart-unfilled-color) var(--progress-pct) 100%
    );
  }

  .pie-chart-content {
    background: var(--boot-progress-supermajority-background-color);
    border-radius: 50%;

    font-size: 4.5cqi;
    color: var(--supermajority-pie-chart-text-color);

    .lg {
      font-size: 9cqi;
    }

    .eighty {
      color: var(--progress-bar-in-progress-supermajority-border);
    }
  }
}

.details-box {
  &,
  .copyButton {
    text-align: start;
    font-size: 12px;
    color: var(--gray-9);
  }

  .label {
    font-size: 10px;
    color: var(--gray-7);
  }

  .snapshot-source {
    color: var(--blue-7);
    font-size: 12px;
    word-break: break-all;
  }
}
