.secondary-color {
  color: var(--gray-11);
}

.card {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
}

@property --progress-pct {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

.pie-chart-title {
  white-space: nowrap;
  font-size: 28px;
  color: var(--gray-8);
}

.pie-chart-container {
  /* height is min(available height, width, maxHeight) */
  width: 100%;
  min-height: 0;
  aspect-ratio: 1/1;
}

.pie-chart {
  aspect-ratio: 1/1;
  container-type: size;
  transition: --progress-pct 0.2s linear;
  --progress-pct: 0%;
  background:
    conic-gradient(
      transparent 0 var(--progress-pct),
      #231f1f var(--progress-pct) 100%
    ),
    conic-gradient(#4d4d4d 0, #8b2e11 80%, #231f1f 80% 100%);
  border-radius: 50%;

  .threshold-marker {
    transform: rotate(108deg);
    transform-origin: center top;

    .marker-line {
      border-left: 3px solid #4c4c4c;
    }

    .marker-icon {
      height: 5%;
      aspect-ratio: 1/1;
    }
  }

  .pie-chart-content {
    background: var(--boot-progress-supermajority-background-color);
    border-radius: 50%;

    font-size: 4.5cqi;
    color: var(--supermajority-pie-chart-text-color);

    .lg {
      font-size: 9cqi;
    }

    .eighty {
      color: var(--progress-bar-in-progress-supermajority-border);
    }
  }
}

.details-box {
  &,
  .copyButton {
    text-align: start;
    font-size: 12px;
    color: var(--gray-9);
  }

  .label {
    font-size: 10px;
    color: var(--gray-7);
  }

  .snapshot-source {
    color: var(--blue-7);
    font-size: 12px;
    word-break: break-all;
  }
}
