.epoch-bar-live {
  .epoch-bar-live-icon {
    border-radius: 100%;
    height: 7px;
    width: 7px;
    margin-right: 2px;
  }
}

.not-live {
  color: #3cb4ff;
}

.reset {
  color: var(--regular-text-color);
  background: unset;
  height: unset;
  font-size: 14px;
}
