.container {
  position: relative;
  height: 100%;
}

.epoch-progress {
  width: 100%;
  background: #142d53;
  position: absolute;
  bottom: 0;
}

.clickable {
  cursor: pointer;
}

.leader-slot {
  width: 100%;
  background: #2a7edf;
  height: 5px;
  position: absolute;
  opacity: 0.5;
  &:hover {
    filter: brightness(1.5);
  }
  &.before-start {
    filter: brightness(0.5);
  }
}

.skipped-slot {
  width: 100%;
  background: #ff5353;
  height: 3px;
  position: absolute;
  &:hover {
    filter: brightness(1.5);
  }
}

.skipped-slot-icon {
  height: 10px;
  position: absolute;
  right: -12px;
  &:hover {
    filter: brightness(1.5);
  }
}

.first-processed-slot {
  width: 100%;
  background: #bdf3ff;
  height: 3px;
  position: absolute;
  right: 0px;
  &:hover {
    filter: brightness(1.5);
  }
}

.first-processed-slot-icon {
  height: 10px;
  position: absolute;
  right: -12px;
  &:hover {
    filter: brightness(1.5);
  }
}

.slider-root {
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  height: 100%;
}

.slider-track {
  background: #24262b;
  height: 100%;
  width: 16px;
}

.slider-thumb {
  display: block;
  position: relative;
  left: -3px;
  height: 5px;
  width: 20px;
  box-shadow: 0 2px 8px var(--black-a7);
  background: var(--gray-7);
  border: 1px solid var(--gray-12);
  border-radius: 2px;
  opacity: 0.5;
  cursor: grab;
}

.slider-thumb:hover {
  background: var(--gray-3);
}
.slider-thumb:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--gray-a8);
}

.hide {
  opacity: 0;
  display: none;
  transition:
    opacity 0.5s ease-out 1s,
    display 0s 1.5s;
  transition-behavior: allow-discrete;
}

.show {
  opacity: 1;
  display: block;
}
