.nav-filter-toggle-group {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  button {
    cursor: pointer;
    flex-grow: 1;
    height: 21px;
    border: none;
    padding: 3px 5px;
    color: var(--nav-button-text-color);
    background-color: rgba(255, 255, 255, 0.1);
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &[data-state="on"] {
      background-color: var(--slot-nav-filter-background-color);
    }

    span {
      cursor: inherit;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.toggle-button {
  border-radius: 5px;
  background-color: var(--epoch-slider-progress-color);

  &.floating {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.75);
  }

  svg {
    fill: var(--nav-button-text-color);

    &.mirror {
      transform: scaleX(-1);
    }
  }
}

.slot-nav-container {
  will-change: width;
  transition: width 0.3s;
  box-sizing: border-box;
}
