#app {
  /* radix tokens */
  --color-background: #070b14;
  --default-font-family: "Inter Tight", sans-serif;
  font-family: "Inter Tight", sans-serif;
  font-display: optional;
  --scaling: 0.875;
  --cursor-button: pointer;
  --line-height: normal;

  /* custom tokens */
  --white-heading: #f7f8f8;
  --green-live: #3cff73;

  --header-row-height: 34px;

  font-variant-numeric: tabular-nums;
}

.rt-TooltipContent {
  background: #131923;
  border: 1px solid #2e343e;
  border-radius: 8px;
}

.rt-TooltipText {
  color: var(--regular-text-color);
  user-select: auto;
}

.rt-TooltipArrow {
  fill: #131923;
}

.rt-Separator {
  background: #65677a;
}

.sticky {
  position: sticky;
  z-index: 3;
  background: var(--color-background);
}

.app-width-container {
  max-width: 1920px;
  margin: 0 auto;
}
